* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.banner{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: black;
    padding: 0px 20% 0px;
    height: 100px;
}
.portal div:not(.pro) {
    margin-right: 40px;
    font-size: 20px;
}
.pro {
    font-size: 40px;
    margin-right: 40px;
}
.banner, .container, .connections {
    margin-bottom: 30px;
}
.portal, .out{
    color: white;
    display: flex;
    align-items: center;
}
.out{
    background-color: blue;
    height: 50%;
    align-self: center;
    padding: 0px 25px 0px;
}
.sidebars{
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
}
.userinfo {
    margin: 0 px auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.container{
    width: 800px;
    height: 375px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.top {
    background-color: #2596be;
    flex: 1;
}
.bottom {
    background-color: white;
    flex: 3;
    border: solid 4px lightgrey;
}
.info {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 38px;
    left: 50px;
}
.icon {
    width: 100px;
    border: solid 4px lightgrey;
    border-radius: 50%;
}
.gear, .loc {
    width: 15px;
    vertical-align: -5px;
    margin-right: 10px;
}
.name {
    font-size: 30px;
}
.right {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}
.edutop, .lcont, .req {
    background-color: black;
    color: white;
}
.edutop {
    padding-left: 40px;
    height: 75px;
    display: flex;
    align-items: center;
    font-size: 30px;
}
.edubot, .list, footer, .incoming{
    border: solid 4px lightgrey;
}
.edubot {
    padding-left: 40px;
}
.first {
    font-size: 25px;
}
.sec {
    font-size: 15px;
    color: lightgray;
}
.lcont, .req {
        display: flex;
        justify-content: center;
        height: 75px;
        align-items: center;
}
.tiny {
    width: 50px;
}
.icon, .name, .loc1, .bio, .gear {
    margin-bottom: 10px;
}
.circle {
    border-radius: 75%;
    background-color: grey;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.incoming{
    display: flex;
    flex-direction: column;
}
.helpme{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 20px;
    justify-content: space-between;
}
.yesno{
    width: 50px;
    margin-left: 215px;
}
.list {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.lcont .circle {
    width: 75px;
}
.view {
    text-decoration: underline;
    padding-left: 20px;
}